.post-reward(onclick='anzhiyu.addRewardMask()')
  .reward-button.button--animated(title='Reward')
    i.anzhiyufont.anzhiyu-icon-hand-heart-fill
    | Reward
  .reward-main
    .reward-all
      span.reward-title Thank you for giving me the strength to move forward.
      ul.reward-group
        each item in theme.reward.QR_code
          - var clickTo = item.link ? item.link : item.img
          li.reward-item
            a(href=url_for(clickTo) target='_blank')
              img.post-qr-code-img(src=url_for(item.img) alt=item.text)
            .post-qr-code-desc=item.text
      a.reward-main-btn(href='/about/#about-reward' target='_blank')
        .reward-text List of Admirers
        .reward-dec Because of your support, I have realized the value of writing articles. 🙏
#quit-box(onclick="anzhiyu.removeRewardMask()" style="display: none")